.button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: transform 150ms;
}

.button-primary {
  color: white;
  background-color: var(--secondary-300);
}

.button-secondary {
  color: var(--gray-400);
  background-color: var(--gray-100);
}