.comment-card {
  margin-bottom: 15px;
}

.comment-card_line {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #D3D3D3;
}

.comment-card_body {
  font-size: 1.2rem;
  color: var(--gray-400);
}

.comment-card_options {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.comment-card_date {
  font-size: 1.03rem; 
  color: var(--gray-300);
}

.comment-card_option-button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--secondary-300);
  position: relative;
}

.comment-card_option-button img {
  width: 15px;
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 7px);
}